/*Global ==============================*/
:root {
    --dark-red: rgb(70, 3, 3);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background:#f0f2f5;
    font-family: 'Poppins', sans-serif;
}

/*Header =============================*/
header {
    background: rgb(111, 47, 47);
    text-align: center;
    padding: 0 0 10rem 0;
}


#balance {
    margin-top: -10rem; 
}

.card {
    background: white;
    padding: 0.1rem 1rem 0 1rem;
    margin: 0.5rem 0 0 1rem;
    width: min(80vw, 200px);
    border-radius: 3px;
    opacity: 0.95;
    color: var(--dark-red);

}
.card:hover {
    opacity: 1;
}

.card h3 {
    margin: 5px;
    margin-bottom: 0rem;
    font-weight: normal;
    font-size: 0.8rem;
}

.card p {
    font-size: 1.2rem;
    line-height: 3rem;
    margin: 0 0 0 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card.total {
    background: rgb(151, 151, 151);
    color: white;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#transactions {
    margin: -12rem 20rem;
}
}

/* footer ================================*/

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-red);
    opacity: 0.5;
}

@media (max-width: 500px) {
    html {
        font-size: 70.25%;
    }

    #balance {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        
        
    }
    .card {
        width: min(50vw, 150px);
        height: min(14vw, 60px);
        gap: 1rem;
    }
}