/*Global ==============================*/
:root {
    --dark-red: rgb(70, 3, 3);
}
* {
    box-sizing: border-box; ;
    margin: 0;
    padding: 0;
}

body {
    background:#f0f2f5;
    font-family: 'Poppins', sans-serif;
}

/*Header =============================*/
header {
    background: rgb(111, 47, 47);
    text-align: center;
    padding: 1rem 0 10rem 0;
}

.card h3 {
    margin: 5px;
    margin-bottom: 0rem;
    font-weight: normal;
    font-size: 0.8rem;
}

.card p {
    font-size: 1.2rem;
    line-height: 3rem;
    margin: 0 0 0 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-weight: 100;
}

#balance {
    margin-top: -10rem;
}

.card {
    background: white;
    padding: 0.25rem 0 0 0;
    margin: 0.5rem 0 0 1rem;
    width: min(90vw, 250px);
    border-radius: 3px;
    opacity: 0.95;
    color: var(--dark-red);

}
.card:hover {
    opacity: 1;
}
.card.total {
    background: rgb(151, 151, 151);
    color: white;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* footer ================================*/

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-red);
    opacity: 0.5;
}